$black-color : #03050F;
$black-color-02: #5E6488;
$black-color-03: #0A051E;
$balck-color-04: #141938;
$gray-01: #F8F9FF;
$gray-02: #FAFBFF;
$gray-03: #A9AFD9;
$red-01: red;
$red-02: #FF1C44;
$purple-light:#EDEFFC;
$purple-light-02: #D7DBF5;
$purple-dark:#4F4FFF;
$purple-disabled: #7981B2;
$white-01: #fff;
$green-01: #7DF0BA;